.gallery-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}


@media (max-width: 575.98px) {
    .g-picture{
        margin-top: -180px;
    }
  
    .gallery-data{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}