
    .header {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: transparent;
        padding: 40px 0;
      
    }

    .header.active{
        background-color: black;
        color: white;
        padding: 15px 0;
    }
  