
    .header {
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        color: #088F8F;
        background-color: transparent;
      
      
    }

    .header.active{
        background-color: black;
        color: #088F8F;
  
    }
    
    nav a{
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 25px;
        color: #5F9EA0;
    }
  nav a:hover{
      color: #088F8F;
  }

  @media (max-width: 575.98px) { 
    header .nav-section .nav-inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .nav-section .nav-inner h2{
        font-size: 18px !important;
    }
    header .nav-section .nav-inner site{
        font-size: 8px !important;
    }

    
}