
footer{
    background-color: black;
    color: #5F9EA0;
}
.footer-section a{
    color: #5F9EA0;
    text-decoration: none;
}
.footer-section a:hover{
    color: #088F8F;
}
.social-icons img{
    width: 30px;
    height: 30px;
}
.social-icons a{
    color: #088F8F;

}